<!DOCTYPE html>
<html>
    <head>
        <title>HearthStone Gallery</title>
        <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
        <link rel = "stylesheet" href = "https://fonts.googleapis.com/css?family=Bitter:400,700">
        <link rel = "stylesheet" href = "/stylesheets/main.css">
    </head>
    <body>
        <div class = "ui inverted segment">
            <div class = "ui secondary inverted pointing menu">
                <div class = "item">
                    <img src = "/images/hearthicon.png">
                </div>
                <a class = "item" href ="/">Home</a>
                <a class = "item" href ="/Basic/Neutral/cards">Cards</a>
            </div>
        </div>
        
    