<% include partials/header %>
<div id = cardInfoCss>
    <div class="ui huge header">Welcome to HearthStone Gallery</div>
    <hr>
    <p>
        This website is a collection of all hearthstone cards. To generate all
        these cards, the server grabs an api from
        <a href = "https://market.mashape.com/omgvamp/hearthstone">this website</a>.
         It is then saved on a mongodb database so that all the information becomes accesible.
    </p>
</div>

<% include partials/footer %>